section
  section(data-animation="sturm-liouville-schrodinger")
    h2 Sturm-Lioville equations
    p Find values for $E$ and $f : [a, b] \to \mathbb{R}$ such that
    | $$ - \frac{\text{d}}{\text{d} x}\left(p(x) \frac{\text{d}f}{\text{d} x}\right) + q(x) f(x) = E w(x) f(x) $$
    p with boundary conditions.
    br
    h3 Time-independent Schrödinger equations
    | $$ - \frac{\text{d}^2 f}{\text{d} x^2} + V(x) f(x) = E f(x) $$

    aside.notes
      ul
        // https://www.maths.ed.ac.uk/~v1ranick/papers/lutzen.pdf
        li Sturm en Liovuille
          ul
            li Zwitsers-geboren en Fransman (respectievelijk)
            li Vrienden vanaf 1830 in Parijs
            li Sturm-Liouville theorie
            li Warmte door een metalenstaaf, en trilling ketting
        li Schrödinger
          ul
            li Oostenrijk
            li 1933 nobelprijs
  section(data-animation="vibrating-string")
    h2 Vibrating string

    p
      | As differential equation: $\, \displaystyle \frac{\partial^2 f}{\partial t^2} = \frac{\partial^2 f}{\partial x^2}\, $ with $f(0) = 0$ and $f(\pi) = 0$.

    p.fragment(data-animation="vibrating-string-states") We can write
      | $$ f(t, x) = \sum_{i=1}^\infty f_i(x) \sin\left(\sqrt{E_i} t\right) $$
      | with $\, \displaystyle -\frac{\text{d}^2 f_i}{\text{d} x^2} = E_i f_i(x)\, $ and $f_i(0) = f_i(\pi) = 0$.
    aside.notes
      ul
        li Zeer technisch, volhouden

  section(data-animation="fft-cello")
    .flex-slide
      h2 Vibrating string

      p
        | $$ f(t, x) = \sum_{i=1}^\infty f_i(x) \sin\left(\sqrt{E_i} t\right) $$
        | with $\, \displaystyle -\frac{\text{d}^2 f_i}{\text{d} x^2} = E_i f_i(x)\, $ and $f_i(0) = f_i(\pi) = 0$.

      .flex-slide-fill.igrid(style="grid-template-columns: 1fr")
        div(
          style="display: flex; flex-flow: row nowrap; justify-content: space-evenly"
        )
          div $$ E_0 = 1 $$
          div $$ E_1 = 4 $$
          div $$ E_2 = 9 $$
          div $$ E_3 = 16 $$
        div(
          style="display: flex; flex-flow: row nowrap; justify-content: space-evenly"
        )
          div $$ E_4 = 25 $$
          div $$ E_5 = 36 $$
          div $$ E_6 = 49 $$

  section(data-animation="initial-value-ode")
    h2 Approximating solutions
    h3 Initial value example

    p
      | $$ -\frac{\text{d}^2 f}{\text{d} x^2} + 120 x^2 f(x) = 100 f(x) $$
      | with $f(0) = 0$ and $\frac{\text{d}f}{\text{d}x}(0) = 1$.

    p(style="color: red") To do: animation

    p(style="text-align: center; font-size: 110%; margin-top: 50px") Small steps!

    aside.notes
      p Twee problemen
      ul
        li Kleine stapjes
        li Dit is niet het probleem dat we willen oplossen
          ul
            li We kennen E niet
            li En randvoorwaarde probleem

  section(data-animation="shooting-ode", data-animation-state="guess-E")
    h2 Approximating solutions
    h3 Shooting

    p
      | $$ -\frac{\text{d}^2 f}{\text{d} x^2} + 120 x^2 f(x) = E f(x) $$
      | with $f(0) = 0$ and $f(1) = 0$.

    p Guess $E$ and measure how wrong we are.

    p(style="color: red") To do: animation steps

    p.fragment(
      data-animation="shooting-ode",
      data-animation-state="adjust-E",
      style="text-align: center; font-size: 110%; margin-top: 50px"
    ) Adjust $E$ and try again.

    aside.notes

  section(data-animation="all-eigenvalues-1d")
    .flex-slide
      h2 Finding all eigenvalues

      p Find all values for $E$ for which a function $f$ exists such that
      div $$ -\frac{\text{d}^2 f}{\text{d} x^2} + V(x) f(x) = E f(x) $$
      p with $V(x) = 120x^2$, $f(0) = 0$ and $f(1) = 0$.

      .flex-slide-fill(
        style="font-size: 62%; display: flex; flex-flow: row wrap; justify-content: space-evenly; gap: 10px;"
      )
        each E in ['32.88982','77.83697','130.386','199.2909','287.7157','396.007','524.1338','672.0585','839.7586','1027.221','1234.438','1461.405','1708.118','1974.576','2260.778','2566.721','2892.407','3237.833','3603','3987.907','4392.555','4816.943','5261.07','5724.938','6208.545','6711.891','7234.978','7777.803','8340.369','8922.673','9524.717','10146.5','10788.02','11449.29','12130.29','12831.03','13551.51','14291.73','15051.69','15831.38','16630.82','17450','18288.91','19147.57','20025.96','20924.1','21841.97','22779.58','23736.93','24714.02','25710.85','26727.42','27763.73','28819.78','29895.56','30991.09','32106.35','33241.36','34396.1','35570.58','36764.81','37978.77','39212.47','40465.91','41739.08','43032','44344.66','45677.06','47029.19','48401.07','49792.68','51204.03','52635.13','54085.96','55556.53','57046.84','58556.89','60086.68','61636.21','63205.47','64794.48','66403.22','68031.71','69679.93','71347.9','73035.6','74743.04','76470.22','78217.14','79983.8','81770.2','83576.33','85402.21','87247.83','89113.18','90998.28']
          div $ #{ E } $,

  section
    h2 Matslise 3.0 - Pyslise

    p(style="color: red") To do: different examples of solutions

    p Features:
    ul
      li robin boundary conditions
      li potential with jumps
      li transformed Sturm-Liouville problems
      li fast evaluation of eigenfunctions <strong>(new)</strong>
      li periodic boundary conditions <strong>(new)</strong>
      li infinite domains <strong>(future work)</strong>